{% extends 'index.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    {% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/about_us_page.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>About</h1>
        <p>Audrey Art is a digital art Company specialized in bringing art to life, we run your music
            cover art,personal potrait, character design,thumbnail sketches,2D Wallpaper 
            Animation,tutorial and lot more.
            </p>
    </div>
    

</body>
{% endblock %}
</html>